
.container{
    display: flex;
    align-items: center;
}
.mainbox1{
    display: flex;
    align-self: center;
    flex-wrap:wrap;
    width: 750px;
    height: 600px;
    background-color: red;
}

.mainbox2{
    display: flex;
    align-self: center;
    flex-wrap:wrap;
    width: 750px;
    height: 600px;
    background-color: rgb(44, 214, 86);
}

.rbox1{
    width: 700px;
    height: 300px;
    background-color: rgb(212, 212, 211);
    margin: 10px;
    padding: 10px;
}

.rbox2{
    align-items: right center;
    width: 100px;
    height: 200px;
    background-color: rgb(212, 212, 211);
    margin: 10px;
    padding: 10px;
}
.rbox3{
    width: 560px;
    height: 200px;
    background-color: rgb(212, 212, 211);
    margin: 10px;
    padding: 10px;
}
.gbox1{
    width: 700px;
    height: 300px;
    background-color: rgb(212, 212, 211);
    margin: 10px;
    padding: 10px;
}

.gbox2{
    width: 560px;
    height: 200px;
    background-color: rgb(212, 212, 211);
    margin: 10px;
    padding: 10px;
}
.gbox3{
    
    align-items: right center;
    width: 100px;
    height: 200px;
    background-color: rgb(212, 212, 211);
    margin: 10px;
    padding: 10px;
}

footer{
    padding: 20px;
    background-color: #11ebca;
    width: 1460px;
}

